{% include "./_includes/_head.html" %}

<body>

    {% include "./_includes/_navbar.html" %}

    <!-- main header-->
    <main>
        <!-- hero -->
        <header id="home-hero">
            <img id="hero-img" src="images/stock/women-laughing-1.jpg" alt="girls laughing together over coffee"
                width="1425" height="850">
            <!-- text wrapper -->
            <div id="header-text-box">
                <!-- headline -->
                <h1>Noble Living Co.</h1>
                <!-- scrolling effect -->
                <h3>
                    Rediscover Your Natural Beauty
                    <hr>
                    All Natural Products For Womens
                </h3>
                <div id="header-cta">
                    <a href="{{ root }}store/index.html">
                        <button href="#" type="button" class="cta">Shop Now</button>
                    </a>
                </div>
            </div>
            <div id="header-label-wrapper">
                <div id="header-label-box">
                    <div class="label">
                        <img src="images/svg/plant-leaf-icon.svg" viewBox alt="leaf icon" class="label-icon" width="36"
                            height="36">Save Money
                    </div>
                    <div class="label">
                        <img src="images/svg/plant-leaf-icon.svg" viewBox alt="leaf icon" class="label-icon" width="36"
                            height="36">
                        Save Time
                    </div>
                    <div class="label">
                        <img src="images/svg/plant-leaf-icon.svg" viewBox alt="leaf icon" class="label-icon" width="36"
                            height="36">
                        Save Your Skin
                    </div>
                </div>
            </div>
        </header>


        <!-- Main Content -->
        <!-- First Section -->
        <section class="container" id="first-section">
            <div id="first-section-img">
                <img class="section-img" src="images/stock/girl-laughing-field.png"
                    alt="Girl smiling in field at sunset" width="722" height="480">
            </div>
            <div class="section-text-cont" id="first-section-text-cont">
                <div class="section-text">
                    <h2 class="section-title">Win back your self-confidence</h2>
                    <h4 class="section-subtitle">Did you know...</h4>
                    <div class="feature">
                        <p class="p-text">Harmful chemicals in mainstream products damage and blemish sensitive
                            skin?
                        </p>
                    </div>
                    <div class="feature">
                        <p class="p-text">Millions of dollars are wasted on products
                            recommended by
                            so called
                            "experts"
                            that don't
                            work?
                        </p>
                    </div>
                    <div class="feature">
                        <p class="p-text">Every health and beauty obstacle has an all natural solution?</p>
                    </div>
                    <div>
                        <p class="p-text">
                            There are so many women burdened with anxiety over the way they look and feel. At Noble
                            Living
                            Co. we know there's a better way to live. Its time to stop letting fear hold you back.
                            Its
                            time
                            to rediscover your natural beauty with 100% chemical free facial care and beauty
                            products so
                            you
                            can live your life to the fullest.
                        </p><br>
                    </div>
                    <div>
                        <p class="p-text">
                            Try one of our products for yourself today and if you don't love it, we'll give you a
                            full
                            refund - no questions asked!
                        </p>
                    </div>
                    <div id="first-section-btn">
                        <a href="{{ root }}store/index.html">
                            <button class="cta">Shop Now</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <!-- Second Section -->
        <section class="container" id="second-section">
            <div class="" id="second-section-img">
                <!-- <iframe class="section-video" width="560" height="315" src="https://www.youtube.com/embed/mBOt3rLcstw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
                <img class="section-img" src="images/hope/video-placeholder.png" alt="Girl smiling in field at sunset"
                    width="600" height="360">
            </div>
            <div class="section-text-cont" id="second-section-text-cont">
                <div class="section-text">
                    <h2 class="section-title">Be Your Own Hero</h2>
                    <p class="p-text">
                        Are you ready to take the life changing step of switching to all natural products? It's
                        simpler
                        and more affordable than you think! Start an all natural self care routine that works today.
                    </p>
                    <div id="second-section-btn">
                        <a href="{{ root }}store/index.html">
                            <button class="cta content">Shop Now</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>



        <!-- Third Section -->
        <section class="grid-container container" id="third-section">
            <h2 class="section-title section-title-breakpoint">We Sell 100% Chemical Free Products</h2>
            <div class="product-grid-wrapper">
                <div class="product-wrapper">
                    <h4 class="section-subtitle section-subtitle-breakpoint">All Natural Moisturizer</h4>
                    <img class="product-img-circle" src="images/products/moisturizer-square.jpg"
                        alt="All natural moisturizer in jar" width="240" height="240">
                </div>
                <div class="product-wrapper">
                    <h4 class="section-subtitle section-subtitle-breakpoint">Rose Witch Hazel Facial Toner</h4>
                    <img class="product-img-circle" src="images/products/witch-hazel-square.jpg"
                        alt="Rose witch hazel facial toner in a bottle" width="240" height="240">
                </div>
                <div class="product-wrapper">
                    <h4 class="section-subtitle section-subtitle-breakpoint">Facial Cleansing Honey</h4>
                    <img class="product-img-circle" src="images/products/honey-square.jpg"
                        alt="Facial cleansing honey in a jar" width="240" height="240">
                </div>
            </div>
            <div class="product-grid-wrapper">
                <div class="product-wrapper">
                    <h4 class="section-subtitle section-subtitle-breakpoint">All Natural Hairspray</h4>
                    <img class="product-img-circle" src="images/products/hairspray-square.jpg"
                        alt="All natural hairspray in a glass bottle" width="240" height="240">
                </div>
                <div class="product-wrapper">
                    <h4 class="section-subtitle section-subtitle-breakpoint">All Natural Facial Moisturizer (sample)
                    </h4>
                    <img class="product-img-circle" src="images/products/sample-moisturizer-square.jpeg"
                        alt="Sample portion of all natural facial moisturizer in a jar" width="240" height="240">
                </div>
            </div>
            <div id="third-section-btn">
                <a href="{{ root }}store/index.html">
                    <button type="button" class="cta content">Shop Now</button>
                </a>
            </div>
        </section>


        <!-- Fourth Section -->
        <section class="grid-container container" id="fourth-section">
            <span>
                <h2 class="section-title section-title-breakpoint">How It Works</h2>
            </span>
            <div class="step-grid-wrapper">
                <div class="step-wrapper">
                    <img class="step-img-circle" src="images/png/one-pink.png" alt="The number one" width="128"
                        height="128">
                    <div class="section-text">
                        <p class="p-text-centered">Purchase our all natural skin care products.</p>
                    </div>
                </div>
                <div class="step-wrapper">
                    <img class="step-img-circle" src="images/png/two-pink.png" alt="The number two" width="128"
                        height="128">
                    <div class="section-text">
                        <p class="p-text-centered">Download your own free 3 step facial care routine and work the
                            steps just a few minutes a day.
                        </p>
                    </div>
                </div>
                <div class="step-wrapper">
                    <img class="step-img-circle" src="images/png/three-pink.png" alt="The number three" width="128"
                        height="128">
                    <div class="section-text">
                        <p class="p-text-centered">Watch your confidence build and the transformation begin!</p>
                    </div>
                </div>
            </div>
            <div class="" id="fourth-section-btn">
                <a href="{{ root }}store/index.html">
                    <button type="button" class="cta">Shop Now</button>
                </a>
            </div>
        </section>

        </section>


        <!-- Fifth Section -->
        <section class="container" id="fifth-section">
            <h2 class="section-title">Customer Reviews</h2>
            <div class="review-container content">
                <div class="review-wrapper">
                    <img src="images/reviews/review-anneliese-square.png" alt="Woman in pink sweater smiling"
                        class="section-img review-img" width="416" height="416">
                    <div class="review-text-cont">
                        <div class="section-text review-text">
                            <img src="images/svg/quote-icon.svg" viewBox alt="Quotation icon" class="quote-icon"
                                width="56" height="56">
                            <p class="p-text ">
                                My skin feels great ALL DAY after using the moisturizer in the morning! It feels
                                refreshing
                                on
                                the skin & has none of the tacky, thick feeling of other moisturizers.
                            </p><br>
                            <p class="p-text">
                                - Anneliese, massage therapist
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-container content">
                <div class="review-wrapper">
                    <img src="images/reviews/review-heather-square.png" alt="woman in gray shirt smiling"
                        class="section-img review-img" id="second-review-img" width="416" height="416">
                    <div class="review-text-cont">
                        <div class="section-text review-text">
                            <img src="images/svg/quote-icon.svg" viewBox alt="quotation icon" class="quote-icon"
                                width="56" height="56">
                            <p class="p-text">
                                I've been looking for a more natural face care that doesn't leave my skin oily.
                                This
                                product
                                feels light and moisturizers effectively. It smells amazing too!
                                I highly recommend it.
                            </p><br>
                            <p class="p-text">
                                - Heather, stay at home mom
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-container content">
                <div class="review-wrapper">
                    <img src="images/reviews/review-leah-square.png" alt="woman in green shirt smiling"
                        class="section-img review-img" width="416" height="416">
                    <div class="review-text-cont">
                        <div class="section-text review-text">
                            <img src="images/svg/quote-icon.svg" viewBox alt="quotation icon" class="quote-icon"
                                width="56" heigh="56">
                            <p class="p-text">
                                I'm absolutely loving mine! I've been using it twice a day, and my skin feels so
                                clean and
                                soft.
                                Even when I've been around dusty clays, it still keeps my skin from drying out.
                            </p><br>
                            <p class="p-text">
                                - Leah, dance teacher
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="{{ root }}store/index.html">
                    <button type="button" class="cta">Shop Now</button>
                </a>
            </div>
        </section>

        <!-- About Section -->
        <section class="container" id="about-section">
            <div class="section-img" id="about-img-cont">
                <img id="about-section-img" src="images/hope/noble-family.png" alt="family smiling" width="360"
                    height="480">
            </div>
            <article class="section-text-cont">
                <div class="section-text" id="about-text">
                    <h2 class="section-title">About Noble Living Co.</h2>
                    <p class="p-text">
                        We at Noble Living Co are a husband/wife team, learning to live life to the fullest. Our
                        desire
                        is to encourage people like you to live a healthy lifestyle of passion, purpose and fun!
                        We
                        have
                        been making moisturizer and producing artistic, meaningful content since 2019.
                    </p>
                    <p>
                        Reach out to us if you have any questions or feedback! We'd love to hear from you.
                        Email us at <a
                            href="mailto:noblelivingco@gmail.com?subject=Hey There!">noblelivingco@gmail.com</a>
                    </p>
                </div>
            </article>
        </section>
    </main>


</body>
{% include "./_includes/_footer.html" %}