/* Blog Styles */

.blog-card-container {
    max-width: 950px;
    max-height: 350px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.blog-card {
    /* width: 940px;
    height: 350px; */
    display: flex;
    justify-content: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 25px;
}

.blog-img-cont {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
    width: 452px;
    height: 340px;
}

.blog-btn {
    background-color: #FE6161;
    color: white;
}

#blog-header {
    display: flex;
    flex-direction: column;
}

#blog-header h1 {
    margin: .4em 0 .2em 0;
}

#blog-header hr {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 1px;
}