.page-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background: white;
}

.container {
    margin: 0em 6em 0em 6em;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 2.375em;
    text-align: center;
    font-weight: 600;
    margin: 1em 0em 1em 0em;
}

.section-subtitle {
    text-align: center;
    font-weight: 600;
}

.section-img {
    max-width: 100%;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.section-text-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-text {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.p-text {
    text-align: left;
    margin: 0;
    padding: .12em 0em .12em 0em;
    line-height: 1.65em;
}

.content {
    margin-top: 200px;
    margin-bottom: 200px;
}

.check-icons {
    color: pink;
    filter: invert(45%) sepia(94%) saturate(1006%) hue-rotate(326deg) brightness(111%) contrast(98%);
}

.feature {
    margin: 1.2em 0em 1.2em 0em;
    background: url("../../images/svg/check-in-circle.svg") no-repeat top 7px left;
}

.product-img-circle {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.step-img-circle {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.review-img {
    max-width: 416px;
    max-height: 416px;
}

.quote-icon {
    height: 56;
    width: 56;
    filter: invert(80%) sepia(32%) saturate(302%) hue-rotate(5deg) brightness(98%) contrast(88%);
}

.label {
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background: no-repeat center/100% url("../../images/png/pink-canvas.png");
    z-index: 3;
}

.label-icon {
    height: 36px;
    width: 36px;
    filter: invert(20%) sepia(25%) saturate(6914%) hue-rotate(102deg) brightness(98%) contrast(107%);
}


.blockquote {
    font-weight: 300;
    font-size: 20px;
}

.empty-space {
    margin: 180px 0px 180px 0px;
}

.review-quote {
    padding-top: 1.5rem;
    text-align: left;
}

#home-hero {
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: no-repeat center/100% url("../../images/stock/women-laughing-1.jpg");
    z-index: 0;
}

#header-text-box {
    position: relative;
    background-color: rgb(255, 255, 255, .95);
    border-radius: 5%;
}

#header-text-box h1 {
    text-align: center;
    padding: 0px 15px 0px 15px;
    margin: 25px 0px 25px 0px;
}

#header-text-box h3 {
    text-align: center;
    font-weight: 400;
}

#header-text-box hr {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 2px;
}

#header-label-box {
    display: flex;
    flex-direction: row;
    z-index: 99;
}

#header-cta {
    display: flex;
    justify-content: center;
    margin: 0px 0px 25px 0px;
}



/* First Section */

#first-section {
    display: flex;
    align-items: center;
}

#first-section p {
    padding: 0px 0px 0px 40px;
}


#first-section-img {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
    height: 722px;
    width: 480px;
}

#first-section-text-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1.5;
}

#first-section-btn {
    display: flex;
    justify-content: center;
}

/* Second Section */

#second-section {
    max-width: 1200px;
    max-height: 600px;
    height: auto;
}


#second-section-text-cont {
    order: 0;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

#second-section-img {
    position: static;
    order: 1;
    width: 600px;
    height: 360px;
    max-width: 600px;
    max-height: 360px;
    flex-grow: 1.5;
    flex-shrink: 1;

}

#second-section-btn {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* About Section */

#about-section img {
    width: 360px;
    height: 479px;
}

/* responsive breakpoints */
@media (max-width: 1300px) {
    .section-text {
        font-size: .9em;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1100px) {
    #first-section {
        flex-direction: column;
    }

    #second-section {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    #first-section {
        flex-direction: column;
    }

    #first-section-text {
        max-width: 100%;
    }

    #second-section {
        flex-direction: column;
    }

    #second-section-img {
        order: 0;
        /* max-width: 60%; */
    }

    #second-section-text {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    #first-section {
        flex-direction: column;
    }

    #second-section {
        flex-direction: column;
    }
}

@media (max-width: 865px) {
    .container {
        max-width: 720px;
        margin: 10em 2em 10em 2em;
    }

    .section-text {
        font-size: .9em;
    }

    #first-section-img {
        width: 420px;
        height: 632px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .label {
        display: none;
    }

    .section-text {
        font-size: .8em;
    }

    #home-hero {
        height: 50vh;
        font-size: .8em;
    }

    #first-section {
        flex-direction: column;
    }

    #second-section {
        flex-direction: column;
    }

    #second-section-img {
        width: 480px;
        height: 293px;
    }
}

@media (max-width: 576px) {

    #home-hero {
        height: 50vh;
        font-size: .8em;
    }

    #first-section {
        flex-direction: column;
    }
}

@media (max-width: 524px) {


    #home-hero {
        height: 40vh;
        font-size: .6em;
    }

    #home-hero .cta {
        display: none;
    }

    #first-section {
        flex-direction: column;
    }

    #second-section {
        flex-direction: column;
    }

    #second-section-img {
        width: 400px;
        height: 244px;
    }

}

@media (max-width: 428px) {
    #home-hero {
        height: 35vh;
        font-size: .5em;
    }

    .container {
        margin: 10em 2em 10em 2em;
    }

    #second-section-img {
        width: 300px;
        height: 183px;
    }

    #first-section-img {
        width: 350px;
        height: 527px;
    }

}

@media (max-width: 376px) {
    #first-section-img {
        width: 320px;
        height: 482px;
    }

}