.page-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background: white;
}

.product-img-circle {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.step-img-circle {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.quote-icon {
    height: 56;
    width: 56;
    filter: invert(80%) sepia(32%) saturate(302%) hue-rotate(5deg) brightness(98%) contrast(88%);
}

.review-img {
    max-width: 416px;
    max-height: 416px;
}



.label-icon {
    height: 36px;
    width: 36px;
    filter: invert(20%) sepia(25%) saturate(6914%) hue-rotate(102deg) brightness(98%) contrast(107%);
}


.page-subheading {
    font-size: 38px;
    text-align: center;
    font-weight: 600;
}

.label {
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 3;
    background: no-repeat center/100% url("../../images/png/pink-canvas.png");
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

blockquote {
    font-weight: 300;
    font-size: 20px;
}

.empty-space {
    margin: 180px 0px 180px 0px;
}

.review-quote {
    padding-top: 1.5rem;
    text-align: left;
}

#home-hero {
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat center/100% url("../../images/stock/women-laughing-1.jpg");
    z-index: -1;
}

#header-text-box {
    position: absolute;
    width: 40rem;
    background-color: white;
    padding: 2em .5em 2em .5em;
}


#header-text-box h1 {
    text-align: center;
}

#header-text-box h3 {
    text-align: center;
    font-size: 1.75em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'lato', 'raleway', sans-serif;
    font-weight: 300;
}

#header-text-box hr {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 2px;
}

#header-cta {
    display: flex;
    justify-content: center;
    margin-right: 2em;
}

#header-label-box {
    display: flex;
    align-self: flex-end;
}

#first-section {
    margin-top: 10rem;
}

#first-section h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#first-section h5 {
    text-align: center;
    font-weight: 600;
}

#first-section img {
    width: 480px;
    height: 722px;
}

#first-section p {
    text-align: left;
    padding: .5rem 0rem .5rem 0rem;
}

#second-section h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#second-section img {
    width: 450px;
    height: 345px;
}

#second-section p {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

#third-section-a h2 {
    margin-bottom: 3rem;
}

#third-section-a h4 {
    padding-bottom: 2rem;
}

#third-section-b h4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#fourth-section h2 {
    margin-bottom: 3rem;
}

#fourth-section p {
    margin-top: 3rem;
}

#fifth-section h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#about-section img {
    width: 360px;
    height: 479px;
}

#about-section h2 {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

#about-section p {
    text-align: left;
}

#about-section p:last-of-type {
    margin-top: 2.5rem;
}