body {
    font-family: 'Lato', 'Raleway', sans-serif !important;
    background-color: #F7F2EB;
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    font-weight: 300;
    font-size: 18px;
}

h1 {
    font-size: 78px;
    font-family: 'Lato', 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
}

h2 {
    font-size: 1.0rem;
}

h3 {
    font-size: 20px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
}

/* navbar */
.nav-container {
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    margin: 0px 60px 0px 60px;
    justify-content: space-between;
    align-items: center;
}

.nav-container>img:first-of-type {
    display: flex;
    justify-content: flex-start;
}

.navbar-links {
    margin-left: auto;
}



@media screen and (max-width: 1024px) {
    .nav-container {
        position: static;
        top: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        margin: 30px 40px 30px 40px;
        justify-content: center;
        align-items: center;
    }
}

nav {
    font-family: 'Raleway', 'Lato', sans-serif;
    font-size: 1rem;
    color: black;
}

nav .logo {
    font-size: 1.8rem;
    z-index: 9;
}

.nav-items {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    margin: 0px 20px 0px 20px;
}

.navbar-links {
    font-family: 'Raleway', 'Lato', sans-serif;
    font-size: 14px;
    padding-right: 12px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links>li {
    border-right: black solid 1.5px;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.navbar-links>li:last-of-type {
    border-right: none;
}

#nav-cta {
    transform-origin: center;
    position: relative;
    overflow: hidden;
}

#nav-toggle {
    position: absolute;
    display: none;
}

#shopping-cart {
    margin-left: 20px;
    order: 1;
}

nav .icon-burger {
    position: absolute;
    right: 5%;
    display: none;
}

nav .icon-burger .line {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    nav .logo {
        z-index: 8;
    }

    .nav-container {
        margin: 30px 10px 0px 30px;
        display: flex;
        justify-content: flex-start;
    }

    #shopping-cart-container {
        margin-right: auto;
    }

    .navbar-links {
        float: none;
        position: absolute;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        z-index: 9;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 0px 0px 0px;
        background-color: white;
        backdrop-filter: blur(20px);
        overflow: hidden;
        transition: .5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
    }

    .nav-items {
        font-family: 'raleway', 'lato', sans-serif;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 300;
    }

    .navbar-links>li {
        border-right: none;
    }

    #nav-cta {
        display: none;
    }

    nav .icon-burger {
        z-index: 9;
        display: block;
    }

    nav :checked~.navbar-links {
        left: 0;
    }

    nav .icon-burger .line {
        transition: 0.3s cubic-bezier(0.97, 0.02, 0.44, 0.99);
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(9px) rotate(50deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        transform: translateX(10px);
        opacity: 0;
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-9px) rotate(-50deg);
    }
}

/* navbar end */

.border {
    border: 3px solid black !important;
}



.footer p {
    font-size: 12px;
}

.cta {
    background-color: #DFCB9B;
    font-family: 'raleway', 'lato', sans-serif;
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: 0px solid #DFCB9B;
    border-radius: 15px;
    transition: color .25s, background-color .25s;
}

.cta:hover {
    background-color: #FE6161;
    color: white;
}

.social {
    width: 16px;
    height: 16px;
}