body {
    font-family: 'Lato', 'Raleway', sans-serif !important;
    background-color: #F7F2EB;
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    font-weight: 300;
    font-size: 20px;
}

h1 {
    font-size: 78px;
    font-family: 'Lato', 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
}

h2 {
    font-size: 1.0rem;
}

h3 {
    font-size: 20px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
}

.navbar .navbar-brand .logo {
    height: 150px;
    width: 150px;
}

.border {
    border: 2px solid black;
    color: red;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer p {
    font-size: 12px;
}

.navbar .nav-item {
    font-family: 'Raleway', 'Lato', sans-serif;
    font-size: 14px;
    border-right: 1px solid;
    border-color: black;
    padding-left: 6px;
    padding-right: 6px;
}

.navbar-nav>li:last-of-type {
    border-right: none;
}

blockquote {
    font-weight: 300;
    font-size: 20px;
}

.empty-space {
    margin: 180px 0px 180px 0px;
}

.cta {
    background-color: #DFCB9B;
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    transition: color .25s, background-color .25s;
}

.cta:hover {
    background-color: #FE6161;
    color: white;
}

.review-quote {
    padding-top: 1.5rem;
    text-align: left;
}

.social {
    width: 16px;
    height: 16px;
}