---
root: ../
---
{% include "./_includes/_head.html" %}

<body>
    {% include "./_includes/_navbar.html" %}

    <!-- Store Section -->
    <header class="container" id="store-header">
        <h1>Noble Living Store</h1>
        <hr>
        <h3>Shop Our All Natural Products</h3>
    </header>
    <!-- Moisturizer -->
    <section class="container product-list">
        <div class="product-card">
            <div class="product-img-cont">
                <img class="product-img" src="../images/products/Moisturizer-1-square.jpg"
                    alt="All natural moisturizer in a glass jar" width="360" height="360">
            </div>
            <div class="product-text-container">
                <h3 class="product-card-title">All Natural Moisturizer</h3>
                <p class="product-card-text">$20.00</p>
                <button class="store-btn">Add To Cart</button>
            </div>
        </div>
        <!-- Witch Hazel -->
        <div class="product-card">
            <div class="product-img-cont">
                <img class="product-img" src="../images/products/witch-hazel-square.jpg"
                    alt="Clear rose scented witch hazel facial toner in a squeeze bottle" width="360" height="360">
            </div>
            <div class="product-text-container">
                <h3 class="product-card-title">Rose Witch Hazel Facial Toner</h3>
                <p class="product-card-text">$14.99</p>
                <button class="store-btn">Add To Cart</button>
            </div>
        </div>
        <!-- Honey -->
        <div class="product-card">
            <div class="product-img-cont">
                <img class="product-img" src="../images/products/honey-square.jpg"
                    alt="Raw facial cleansing honey in a clear jar" width="360" height="360">
            </div>
            <div class="product-text-container">
                <h3 class="product-card-title">Facial Cleansing Honey</h3>
                <p class="product-card-text">$12.99</p>
                <button class="store-btn">Add To Cart</button>
            </div>
        </div>
        <!-- Bundle -->
        <div class="product-card">
            <div class="product-img-cont">
                <img class="product-img" src="../images/products/bundle-square.jpg"
                    alt="Three step all natural facial care bundle" width="360" height="360">
            </div>
            <div class="product-text-container">
                <h3 class="product-card-title">3 Step Facial Care Bundle</h3>
                <p class="product-card-text">$40.00</p>
                <button class="store-btn">Add To Cart</button>
            </div>
        </div>
        <!-- Hairspray -->
        <div class="product-card">
            <div class="product-img-cont">
                <img class="product-img" src="../images/products/hairspray-square.jpg"
                    alt="All natural hairspray in a brown glass spray bottle" width="360" height="360">
            </div>
            <div class="product-text-container">
                <h3 class="product-card-title">All Natural Hairspray</h3>
                <p class="product-card-text">$15.00</p>
                <button class="store-btn">Add To Cart</button>
            </div>
        </div>
        <!-- Sample -->
        <div class="product-card">
            <div class="product-img-cont">
                <img class="product-img" src="../images/products/sample-moisturizer-square.jpeg"
                    alt="All natural moisturizer in a sample jar" width="360" height="360">
            </div>
            <div class="product-text-container">
                <h3 class="product-card-title">All Natural Moisturizer (Sample)</h3>
                <p class="product-card-text">$2.99</p>
                <button class="store-btn">Add To Cart</button>
            </div>
        </div>
    </section>

    {% include "./_includes/_footer.html" %}