    <!-- Footer -->
    <footer class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h5>
                    <i></i>Noble Living Co.
                </h5>
                <img src="{{ root }}images/logo/logo-color.png" alt="Noble Living Company Logo" width="100" height="100">
            </div>
            <div class="footer-heading footer-2">
                <h5>
                    Products
                </h5>
                <p>
                    <a href="#!" class="footer-link">All Natural Facial Moisturizer</a>
                </p>
                <p>
                    <a href="#!" class="footer-link">Facial Cleansing Honey</a>
                </p>
                <p>
                    <a href="#!" class="footer-link">Rose Witch Hazel Facial Toner</a>
                </p>
                <p>
                    <a href="#!" class="footer-link">All Natural Hairspray</a>
                </p>
            </div>
            <div class="footer-heading footer-3">
                <h5>
                    Pages
                </h5>
                <p>
                    <a href="#!" class="footer-link">Blog</a>
                </p>
                <p>
                    <a href="#!" class="footer-link">Store</a>
                </p>
                <p>
                    <a href="#!" class="footer-link">Empowered Classes</a>
                </p>
            </div>
            <div class="footer-heading footer-4">
                <h5>
                    Contact
                </h5>
                <p><i class="footer-link"></i> Dillsburg, PA 17019, US</p>
                <p>
                    <i class="footer-link"></i>
                    noblelivingco@gmail.com.com
                </p>
            </div>
            <div class="footer-email-form">
                <h5>Join our newsletter</h5>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign Up" id="footer-email-btn"></input>
            </div>
        </div>
    </footer>
    <footer id="footer-section">
        <div>
            © 2022 Copyright:
            <a href="https://noblelivingco.com/">Noblelivingco.com</a>
        </div>
    </footer>
    <!-- End Footer Section -->

</body>

</html>