<!-- Navbar -->
<nav class="nav-container" id="navbar">
	<input id="nav-toggle" type="checkbox">
	<div class="logo">
		<a href="{{ root }}index.html">
			<img src="{{ root }}images/logo/logo-color.png" alt="Noble Living Company Logo" width="150" height="150">
		</a>
	</div>
	</div>
	<!-- <div id="shopping-cart">
		<img src="{{ root }}images/svg/shopping-bag-icon.svg" viewBox alt="shopping bag icon" width="36" height="36">
	</div> -->
	<ul class="navbar-links">
		<li>
			<a href="{{ root }}index.html" class="nav-items">Home</a>
		</li>
		<li>
			<a href="{{ root }}store/index.html" class="nav-items">Store</a>
		</li>
		<li>
			<a href="{{ root }}blog/index.html" class="nav-items">Blog</a>
		</li>
		<a href="{{ root }}store/index.html">
			<button id="nav-cta" class="cta">Shop Now</button>
		</a>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>