{% include "./_includes/_head.html" %}

<body>
    {% include "./_includes/_navbar.html" %}

    <!-- Page Title -->
    <header class="container content" id="blog-header">
        <h1>Noble Living Blog</h1>
        <hr>
        <h3>Articles for Women Like YOU</h3>
    </header>

    {{ content }}

    {% include "./_includes/_footer.html" %}