---
root: ../
---
{% include "./_includes/_head.html" %}
<body>
    {% include "./_includes/_navbar.html" %}

    <!-- Page Title -->
    <header class="container content" id="blog-header">
        <h1>Noble Living Blog</h1>
        <hr>
        <h3>Articles for Women Like YOU</h3>
    </header>

    <!-- Blog Cards -->
    <section class="container">
        <div class="blog-card-container">
            <div class="blog-img-cont">
                <img class="blog-img" src="../images/blog/blog-journal-stock.png"
                    alt="Woman writing in a journal with a pen" width="452" height="340">
            </div>
            <div class="section-text-cont">
                <div class="section-text">
                    <h4 class="section-subtitle-left">Let's talk productivity</h4>
                    <p class="p-text">Hey friend,</p>
                    <p>Productivity is on the forefront of my mind today and I wanted to share something that I
                        hope is helpful to you. Sometimes the lack of...
                    </p>
                    <button type="button" class="blog-btn">Read More</button>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="blog-card-container">
            <div class="blog-img-cont">
                <img class="blog-img" src="../images/blog/blog-pregnant-woman-stock.png"
                    alt="Woman writing in a journal with a pen" width="452" height="340">
            </div>
            <div class="section-text-cont">
                <div class="section-text">
                    <h4 class="section-subtitle-left">Pregnancy, Loss & Body Image</h4>
                    <p class="p-text">Hey friend,</p>
                    <p>Thirteen weeks down with this little one and I am so thankful to be out of the first
                        trimester. Where has the time gone? It is true that time...
                    </p>
                    <button type="button" class="blog-btn">Read More</button>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="blog-card-container">
            <div class="blog-img-cont">
                <img class="blog-img" src="../images/blog/blog-doorway-stock.png"
                    alt="Woman writing in a journal with a pen" width="452" height="340">
            </div>
            <div class="section-text-cont">
                <div class="section-text">
                    <h4 class="section-subtitle-left">4 Simple Ways To Serve Others Outside Your Family</h4>
                    <p class="p-text">Hey friend,</p>
                    <p>This blog will be short and sweet. I've been thinking quite a bit about how to serve others
                        outside our home and wanted to pass
                        along...
                    </p>
                    <button type="button" class="blog-btn">Read More</button>
                </div>
            </div>
        </div>
    </section>

{% include "./_includes/_footer.html" %}