---
layout: post.liquid
pagination:
    data: posts
    size: 1
    alias: post
permalink: "blog/{{ post.title.rendered | slug}}.html"
---

<h1>{{ post.title.rendered}}</h1>

{{ post.content.rendered }}